extends ../layout

block content
   
    
    a(href='/bicicletas') Listado de Bicicletas
    br
    a(href='/') Inicio
   
    h1 Nueva Bicicleta
      
   
    form(action='/bicicletas/create' method='post')
        label(for='id') ID:
        input#id(type='text' name='id')
        br 
        br
        label(for='color') Color:
        input#color(type='text' name='color')
        br
        br
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo')
        br
        br
        label(for='lat') Latitud:
        input#color(type='text' name='lat')
        br
        br
        label(for='lng') Longitud:
        input#modelo(type='text' name='lng')
        br
        br
        input.btn(type='submit'  value='OK')