extends ../layout

block content
    a(href='/bicicletas') Listado de Bicicletas
    br
    a(href='/') Inicio
       
    h1 Actualizar Bicicleta
       

    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        br
        label(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        br
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        br
        label(for='lat') Latitud:
        input#color(type='text' name='lat' value=bici.ubicacion[0])
        br
        br
        label(for='lng') Longitud:
        input#modelo(type='text' name='lng' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')